.centralizer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
/*text styles*/
.text {
	color: #8D6F11;
}
.informationtext{
	color: white;
}
.greatertext{
	font-size: 6vh;
}
.mediumtext {
	font-size: 3.5vh;
	margin: 0;
}
.paragraph {
	font-size: 2.7vh;
}

p{
	text-shadow: -0.2vh 0.3vh #000;
}
h1, h2, h3, h4, h5, h6{
	text-shadow: -0.5vh 0.3vh #000;

}
/*container styles*/

.generalcontainer{
	box-shadow: -0.5vh 0.5vh 0.5vh black;
}
#header{
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
}


.card{
	background-color: #4B4B4B;
	width: 30%;
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2vh;

}

.titlecard{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 4%;
	margin-bottom: 3%;
	width: 85%;
	height: 10%;
}

.informationcontainer{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #646464;
	margin: 3%;
	border-radius: 2vh;
}

.techstitlecontainer{
	width: 100%;
	margin-top: 2%;
	margin-left: 3%;
}
.techs {
	width: fit-content;
	height: fit-content;
	background-color: #868686;
	border-radius: 1.5vh;
	padding: 2%;
	margin-top: 2%;
	margin-left: 3%;	
}




.descriptiontitlecontainer{
	width: 100%;
	margin-top: 3%;
	margin-left: 3%;
}

.descriptioncontainer{
	width: 95%;
	height: 10%;
	background-color: #868686;
	display: flex;
	justify-content: center;
	border-radius: 2vh;
	margin: 2%;
	padding: 1%;

}





img{
	width: 5vh;
	height: 5vh;
}

#cacc{
	width: 55%;
	height: 55%;
	border-radius: 10px;
}



footer{
	width: 60%;
	height: 20%;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	border: solid 3px #8D6F11;

}

.contacts{
	width: fit-content;
	height: fit-content;
	border: solid 3px #8D6F11;

}